<div class="flex flex-col gap-4 mx-auto max-w-md">
  <%= form_with model: @user, url: register_path, class: "flex flex-col gap-4" do |form| %>
    <% if @user.errors.any? %>
      <div class="text-red-600">
        <h2 class="font-semibold text-1xl">
          <%= "Error".pluralize(@user.errors.count) %>
        </h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.text_field :first_name,
      autofocus: true,
      autocomplete: "given-name",
      placeholder: "First name",
      class: "border rounded-lg p-2"
    %>

    <%= form.text_field :last_name,
      autocomplete: "family-name",
      placeholder: "Last name",
      class: "border rounded-lg p-2"
    %>

    <%= form.email_field :email_address,
      required: true,
      autocomplete: "email",
      placeholder: "Email address",
      value: params[:email_address],
      class: "border rounded-lg p-2"
    %>

    <%= form.text_field :username,
      required: true,
      autocomplete: "username",
      placeholder: "Username",
      value: params[:username],
      class: "border rounded-lg p-2"
    %>

    <%= form.password_field :password,
      required: true,
      autocomplete: "new-password",
      placeholder: "Password",
      maxlength: 72,
      class: "border rounded-lg p-2"
    %>

    <%= form.submit "Sign Up", class: "btn btn-primary" %>
  <% end %>

  <div>
    Already have an account?
    <%= link_to "Sign in", new_session_path, class: "link" %>
  </div>

</div>
