<div class="flex flex-col md:flex-row gap-4">
  <%=
    image_tag "https://image.tmdb.org/t/p/w342/#{@movie.poster_path}",
    width: 171,
    alt: "#{@movie.title} poster",
    class: "rounded"
  %>

  <div class="flex flex-col gap-4">
    <header>
      <h1 class="text-white text-3xl font-serif font-bold"><%= @movie.title %></h1>
      <p class="text-xl font-thin"><%= @movie.release_date.year %></p>
    </header>

    <p class="italic"><%= @movie.tagline %></p>

    <p><%= @movie.overview %></p>
  </div>
</div>
