<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Betterboxd" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-screen flex flex-col">
    <% if notice %>
      <div
        data-controller="dismissible" 
        class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded mb-4 relative"
      >
        <%= notice %>
        <button
          data-action="click->dismissible#dismiss" 
          class="absolute top-1 right-2 text-green-700 hover:text-green-900 text-xl font-bold leading-none"
        >
          ×
        </button>
      </div>
    <% end %>
    <%= render 'application/header' %>
    <main class="flex-grow container max-w-4xl mx-auto mt-18 px-5">
      <%= yield %>
    </main>
    <%= render 'application/footer' %>
  </body>
</html>
